<select style="width:150px;">
	<option value="-1">Random</option>
	<option value="0">Paradeigma #1 (birds)</option>
	<option value="1">Paradeigma #2 (birds/behemoths/aigedon)</option>
	<option value="2">Paradeigma #3 (rotation/snakes/sigil)</option>
	<option value="3">Paradeigma #4 (snakes/adikia)</option>
	<option value="4">Paradeigma #5 (rotation/firewall/birds/behemoths)</option>
	<option value="5">Paradeigma #6 (rotation/firewall/birds/snakes)</option>
	<option value="6">Paradeigma #7 (rotation/firewall/snakes/sigil)</option>
	<option value="7">Paradeigma #8 (rotation/firewall/birds/behemoths/sigil)</option>
	<option value="8">Paradeigma #9 (rotation/firewall/birds/snakes/sigil)</option>
</select>